{% extends "base.html" %}
{% block content %}

<h2 class="section-title">Orders Today</h2>

<div class="table-container">
<table>
    <tr>
        <th>User</th>
        <th>Bundle</th>
        <th>Amount (GHS)</th>
        <th>Date</th>
    </tr>

    {% for o in orders %}
    <tr>
        <td>{{ o.user.username }}</td>
        <td>{{ o.bundle.name }}</td>
        <td>{{ o.amount }}</td>
        <td>{{ o.timestamp|date:"M d, Y H:i" }}</td>
    </tr>
    {% empty %}
    <tr><td colspan="4" style="text-align:center;">No orders today.</td></tr>
    {% endfor %}
</table>
</div>

{% endblock %}
